<h2 class="text-center">Shopping Cart</h2>
<div class="container">
  <div class="products">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      [callback]="OnChange"
    ></app-product>
  </div>

  <div class="cart">
    <hr class="my-4">

    <div class="flex justify-between">
      <p class="mb-2">Subtotal</p>
      <p class="mb-2">{{ productsPrice | currency }}</p>
    </div>

    <div class="flex justify-between">
      <p class="mb-2">Shipping</p>
      <p class="mb-2">{{delivery | currency}}</p>
    </div>

    <div class="flex justify-between mb-4">
      <p class="mb-2">Total(Incl. taxes)</p>
      <p class="mb-2">{{summaryPrice | currency}}</p>
    </div>

    <div class="buttons">
      <button
        class="button-28  btn inline-block mt-5 mb-5"
        *ngIf="productsPrice != 0"
        (click)="buy()"
      >Buy
      </button>
      <button
        class="button-28 btn inline-block"
        *ngIf="productsPrice != 0"
        (click)="clear()"
      >Clear cart
      </button>
      <a
        class="btn m-3 inline-block"
        *ngIf="productsPrice == 0"
        routerLink="/products"
      >Перейти к товарам</a>
    </div>

  </div>
</div>
