<!--<header>-->
<!--  <app-navigation>-->
<!--  </app-navigation>-->
<!--  <app-app-nav>-->
<!--  </app-app-nav>-->
<div id="container">
  <app-navigation>

  </app-navigation>
  <main>
    <div class="">
      <!--    <div class="max-w-2xl min-h-[800px] container mx-auto pt-5 mt-[50px]">-->
      <app-global-error></app-global-error>
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="">
    <div class="content">
      <a routerLink="/" class="logo-link">
        <div class="div-logo">
          <!--        <img src="assets/img/logo.svg" class="logo" alt="logo">-->
        </div>
      </a>
      <p>@Все права защищены</p>
    </div>
  </footer>

</div>
