<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a class="mr-5 ml-5" mat-raised-button routerLink="/">About</a>
      <a class="mr-5 ml-5" mat-raised-button routerLink="/products">Shop</a>
      <a class="mr-5 ml-5" mat-raised-button routerLink="/favourites" color="primary"
         matBadge="{{countFavourites}}" matBadgePosition="after" matBadgeColor="accent">Favourites</a>
      <a class="mr-5 ml-5" mat-raised-button routerLink="/cart" color="primary"
              matBadge="{{countCart}}" matBadgePosition="after" matBadgeColor="accent">Cart</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Marketplace</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    fsdfdsfd sdf ds
  </mat-sidenav-content>
</mat-sidenav-container>
